__pycache__
.venv
*.pyc
.env
kernel.errors.txt
input_files/
output_files/
output/
runs/
results/
videos/
datasets/
data/
models/*.onnx
models/*.onnx.data
models/*_openvino_model/*.bin
~$*.docx
~WRL*.tmp
hardhat-detection-yolov8/